html
 head
  title timeService
body(style="background:antiquewhite;color:dodgerblue; font-family:Trebuchet MS, Helvetica, sans-serif;")
 header(align="center")
  h1 Timestamp Micro Service API
   h4
     em Provide Date in Url in Month, Day, Year Format
 br   
 div(style="margin-left: 5%;")
  h3 Example Usage:
   div
    h5(style="background:#333;color:#00ff33;border-radius:2px;padding:.2em;") https://ms-timestampservice.glitch.me/December%2015,%202015
    h5(style="background:#333;color:#00ff33;border-radius:2px;padding:.2em;") https://ms-timestampservice.glitch.me/1450137600
  h3 Example Output: 
   div
    h5(style="background:#333;color:#00ff33;border-radius:2px;padding:.2em;") {"unix":1450137600,"natural":"January 17, 1970"}
 
   